@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px 200px;
}

.right-header {
    display: flex;
    gap: 30px;
}

.content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background-color: #1F2937;
    padding: 50px 200px;
}

.left-content1 {
    display: flex;
    flex-direction: column;
}

.content2 {
    text-align: center;
    flex-grow: 1;
}

.image-container {
    display: flex;
    justify-content: center;
}

.content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.content4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    flex-grow: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.sub-text, a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style: none;
}

.left-header {
    font-size: 24px;
    color: #F9FAF8
}

button {
    background-color: #3882F6;
    font-size: 20px;
    color: #E5E7EB;
    cursor: pointer;
}

.image-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.content3 {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.text1 {
    color: #F9FAF8;
}

.text2 {
    color: #E5E7EB;
}